body {
  margin: 0;
  padding: 0;
  background: #f8f4f0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 40px;
}

.left {
  flex: 1;
}

.right {
  flex: 0.8;
  display: flex;
  align-items: flex-start;
}

.photo-box {
  text-align: center;
  margin-bottom: 20px;
}

.photo {
  width: 220px;
  border-radius: 8px;
}

.profil-title {
  font-family: 'Bauhaus 93', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #3b3486;
  margin: 10px 0;
}

.name {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 5px 0;
}

.desc {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 15px;
  text-align: justify;
  max-width: 500px;
}

.info-box {
  border: 4px solid #3b3486;
  border-radius: 8px;
  padding: 20px 25px;
}

.info-box h2 {
  font-family: 'Bauhaus 93', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin: 20px 0 10px;
  color: #3b3486;
}

.info-box p, 
.info-box li, 
.info-box a {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
  color: #000;
  text-decoration: none;
}

.info-box a:hover {
  color: #0077b6;
}

.info-box ul {
  margin: 0;
  padding-left: 20px;
}
